<div id='tomasz'>Test</div>
{{model}} | 
{{wordLength}} | 
{{allKeyPressed}} | 
{{allGoodKeyPressed}} | 
{{allWrongKeyPressed}} | 
{{numberOfWrongKeyPressed}}
{{hidden-word word=model uncoveredLetters=allGoodKeyPressed}}
{{folk-body numberOfElementsToShow=numberOfWrongKeyPressed}}